<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Chef</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
  
<body>
  <h1>Viewing Chef {{ object.username }}:</h1>
  <p>Joined on {{ object.date_joined|date:'F d, Y' }}</p>
  <br>
  
  <h3>{{ object.userprofile.bio }}</h3>
  
  {% if hasFavIngred %}
    <h3>Ingredients I like, like alot</h3>
    {% if object.userprofile.favIngredients.favIngredients.0 %}
    <h4>{{ object.userprofile.favIngredients.favIngredients.0 }}</h4>
    {% endif%}

    {% if object.userprofile.favIngredients.favIngredients.1 %}
    <h4>{{ object.userprofile.favIngredients.favIngredients.1 }}</h4>
    {% endif%}

    {% if object.userprofile.favIngredients.favIngredients.2 %}
    <h4>{{ object.userprofile.favIngredients.favIngredients.2 }}</h4>
    {% endif%}
  {% endif %}
  
  
  
  <h2>Recent Recipes:</h2>
  <div id="" class="">
      {% for object in recentRecipes %}
    <p><a href="{% url 'myrecipe:singleRecipe' object.slug %}">{{ object.title }}</a></p>
      {% endfor %}
  </div>
  
</body>
  
</html>