<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Chef Favorites</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
  
<body>
  <h1>Viewing your Favorited Recipes:</h1>
  <br>
  
  <div id="searchResults" class="pagination">
      {% for object in object_list %}
    <p><a href="{% url 'myrecipe:singleRecipe' object.slug %}">{{ object.title }}</a></p>
      {% endfor %}
  </div>
  
  <br>
 
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="{% url 'chef:chefFavorites' %}?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span>
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
      <a href="{% url 'chef:chefFavorites' %}?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  {% endif %}
  
  
</body>
  
</html>