{% extends 'myrecipe/_base.html' %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
{% endblock %}

{% block main %}

<!--<body id="home">-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Dashboard</a></li>
      <li><a href="{% url 'chef:chefRecipes' %}">My Recipes</a></li>
      <li><a href="{% url 'chef:chefFavorites' %}">My Favorites</a></li>
      
      {% if ifLikedByAny %}
      <li><a href="{% url 'chef:wholiked' %}">Who Liked</a></li>
      {% endif %}
      
      <li class="exploreTab"><a href="{% url 'myrecipe:AllRecipes' %}">Explore</a></li>
    </ul>
        </div>
    </div>
  </div>
 
  
  
  
<div class="container dashboardpage">
  
  <div class="row">
     <div class="col-md-6">
      <!-- USERNAME, DATE JOINED, LAST LOGIN -->
      <h1 class="greeting">Hi {{ user.username }}!</h1>
      <p class="userNameDate">Joined {{ user.date_joined|date:'M d, Y' }}<p>
      <p class="userNameDate">Last Login {{ user.last_login|date:'l, M d, Y P' }}</p>
      <!-- -->
    </div>
  </div>
  
  
  <div class="row">
    

      
    <div class="col-md-6">
     <!-- BIO, THREE FAVORITE INGREDIENTS (IF ANY) -->
     <form id="aboutMeForm" method="POST">
     {% csrf_token %}
       <div class="well" id="aboutmewell">
         <h3 class="aboutFormHeader">About me</h3>
         <textarea type="text" class="form-control" rows="5" id="userBio" value="{{ user.userprofile.bio|safe }}"></textarea>
         <h6 id="text_counter" class="pull-right">300 characters remaining</h6>

         <br><br><br><!--placeholder="{{ user.userprofile.bio }}"-->
         
         <h3 class="aboutFormHeader" id="loveCooking">I love cooking with</h3>
          <input type="text" class="form-control favIngredField" id="favIngred1" value="{{ fav1 }}"></input> <br>
          <input type="text" class="form-control favIngredField" id="favIngred2" value="{{ fav2 }}"></input> <br>
          <input type="text" class="form-control favIngredField" id="favIngred3" value="{{ fav3 }}"></input> <br>
          <input class="btn btn-default" type="submit" value="Update profile" id="updateMe">
       </div>
      </form>

 
    </div>



    <div class="col-md-6 recipestatus">
      <!-- RECENT RECIPES -->
      
      <div class="panel panel-default">
        <div class="panel-heading">Recently Made Recipes</div>
        
        <div class="list-group">
          {% if recentRecipes %}
          {% for r in recentRecipes %}
          <a class="list-group-item" href="{% url 'myrecipe:singleRecipe' r.slug %}">{{ r.title }}
          
            <span class="badge">
            {{ r.pub_date |date:'m/d/Y' }}
            </span>
            <span class="badge">
            <i class="fa fa-thumbs-up "></i>
            {{ r.likes.count }}
            </span>
          
          </a>
          {% endfor %}
          {% else %}
          <div class="panel-content">no recipes</div>
          {% endif %}
        </div> <!-- end of list-group -->
        <div class="panel-footer clearfix"><a class="pull-right" href="{% url 'chef:chefRecipes' %}">View all</a></div>
      </div>
      <!-- -->
      
      
      
      <!-- LIKED RECIPES -->
      <div class="panel panel-default">
        <div class="panel-heading">Recently Liked Recipes</div>
        
        <div class="list-group">
          {% if recentLikes %}
          {% for r in recentLikes %}
          <a class="list-group-item" href="{% url 'myrecipe:singleRecipe' r.slug %}">{{ r.title }}
            
            <span class="badge">
            {{ r.pub_date |date:'m/d/Y' }}
            </span>
            
            <span class="badge">
            <i class="fa fa-thumbs-up "></i>
            {{ r.likes.count }}
            </span>
            
          </a>
          {% endfor %}
          {% else %}
          <div class="panel-content">no liked recipes</div>
          {% endif %}
        </div> <!-- end of list-group -->
        
        <div class="panel-footer clearfix"><a class="pull-right" href="{% url 'chef:chefFavorites' %}">View all</a></div>
      </div>
      <!-- -->
      
      <div class="text-center">
        <h3 id="waiting">What are you waiting for?</h3> <br>
        
        <div class="btn-group" role="group" aria-label="...">
          <a href="{% url 'myrecipe:addRecipe' %}"><button type="button" class="btn btn-default waitingfor">add</button></a>
      
          <!-- IF LIKED BY ANY -->
          {% if ifLikedByAny %}
           <a href="{% url 'chef:wholiked' %}"><button type="button" class="btn btn-default waitingfor">who liked</button></a>
          {% endif %}
          <!-- -->
             
          <a href="{% url 'myrecipe:AllRecipes' %}"><button type="button" class="btn btn-default waitingfor">browse</button></a>
        </div>
      </div>
      
    </div>

    
  </div>
  <!-- END ROW -->
</div>
<!-- END CONTAINER -->
  {% endblock %}
 

  {% block scripts %} 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js" type="text/javascript"></script>

  <script type="text/javascript">
    /*
    function getingredients() {
      var obj = {'favIngredients':[
        i1 = $('#favIngred1').val(),
        i2 = $('#favIngred2').val(),
        i3 = $('#favIngred3').val()
      ]}
      return
    }
    */
    
    function toAjax(){
      $.ajax({
        url: '/dashboard/',
        headers: {'X-CSRFToken':$.cookie('csrftoken')},
        type : 'POST',
        dataType: 'json',
        data: {
          'bio': $('#userBio').val(),
          'i1': $('#favIngred1').val(),
          'i2': $('#favIngred2').val(),
          'i3': $('#favIngred3').val()
        },
        success: function(data, textstatus, jqXHR){
          window.data = data;
          console.log("User profile updated successfully!");
        },
        error: function(data, textstatus, jqXHR){
          window.data = data;
          console.log("Error in updating user profile");
        }
      });
    }
    
    $(document).ready(function(){
      
      
      
      $('#userBio').val("{{user.userprofile.bio}}");
      
      var left=300;
      var text_length = $('#userBio').val().length;
      var text_remaining = left - text_length;
      
      $('#text_counter').text(text_remaining + ' characters remaining');
      
      $('#userBio').keyup(function () {
 
            left = 300 - $(this).val().length;
            
            //var text_length = $('#userBio').val().length;
            //var text_remaining = left - text_length;
            
            $('#text_counter').text(text_remaining + ' characters remaining');
 
            if(text_remaining < 0){
                $('#text_counter').addClass("overlimit");
                $('#updateMe').attr("disabled", true);
            }else{
                $('#text_counter').removeClass("overlimit");
                $('#updateMe').attr("disabled", false);
            }
 
            $('#text_counter').text(left + ' characters remaining');
        });
      
      
      $('#aboutMeForm').submit(function(e){
        e.preventDefault();
        toAjax();
      });
    });

  </script>
  {% endblock %}
  

<!--</body>
</html>-->
