{% extends 'myrecipe/_base.html' %}
{% load staticfiles %}

{% block title %}Who Liked{% endblock %}

{% block main %}

<div class="container">
   <div class="row">
     <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li><a href="{% url 'chef:dashboard' %}">Dashboard</a></li>
      <li><a href="{% url 'chef:chefRecipes' %}">My Recipes</a></li>
      <li><a href="{% url 'chef:chefFavorites' %}">My Favorites</a></li>
      {% if ifLikedByAny %}
        <li class="active"><a href="{% url 'chef:wholiked' %}">Who Liked</a></li>
      {% endif %}
       <li class="exploreTab"><a href="{% url 'myrecipe:AllRecipes' %}">Explore</a></li>
    </ul>
     </div>
  </div>
</div>



<div class="container"> <!-- CONTAINER -->
  <div class="well well-lg">  <!--WELL -->
    <div class="row"> <!-- ROW -->
      <div class="col-md-12">

        {% for recipe in object_list %}
        {% if recipe.likes.exists %}
        <div class="panel panel-default">
            <div class="panel-heading wholikedheading">

              <a href="{% url 'myrecipe:singleRecipe' recipe.slug %}">{{ recipe.title }}</a>

              <div class="pull-right">
                <span class="badge">
                  {{ recipe.pub_date|date:"SHORT_DATE_FORMAT" }}
                </span>

                <span class="badge">
                  <i class="fa fa-thumbs-up "></i>
                  {{ recipe.likes.count }}
                </span>
              </div>

            </div>
            <div class="panel-body">
              <h3>
                {% for u in recipe.likes.all %}
                  {% ifequal u user %}
                    <a href="{% url 'chef:chef' u.username %}"><span class="label liked label-default"><i class="fa fa-user"></i> me</span></a>
                  {% else %}
                    <a href="{% url 'chef:chef' u.username %}"><span class="label liked label-default"><i class="fa fa-user"></i> {{ u }}</span></a>
                  {% endifequal %}
                {% endfor %}
              </h3>
            </div>

        </div>
       {% endif %}
       {% endfor %}




      </div> <!-- END OF COLUMN -->
    </div> <!-- END OF ROW -->
  </div>  <!--END OF WELL -->
  
  
  <div class="row dashboardpage">
    <div class="col-md-12 text-center">
      {% if is_paginated %}

        {% if page_obj.has_previous %}
          <span class="badge page">
            <a href="{% url 'myrecipe:AllRecipes' %}?page={{ page_obj.previous_page_number }}">Previous</a>
          </span>
        {% endif %}

        <span class="page">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
          <span class="badge page">
            <a href="{% url 'myrecipe:AllRecipes' %}?page={{ page_obj.next_page_number }}">Next</a>
          </span>
        {% endif %}

      {% endif %}

    </div>
  </div>
</div> <!-- END OF CONTAINER -->
    
    
    
    

    



{% endblock %}

{% block scripts %}
{% endblock %}
  

