{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | Soupbits</title>

    <!-- Bootstrap -->
    <link href="{% static 'myrecipe/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'myrecipe/css/bootstrap.icon-large.min.css' %}" rel="stylesheet">
    <link href="{% static 'myrecipe/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'myrecipe/css/style.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    {% block styles %}
    {% endblock %}
    <style>
      #alertBox, #successBox {
        display: none;
      }
    </style>
  </head>
  <body>
    
    
    <!-- NAV BAR -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        
        <div class="collapse navbar-collapse">
          
          <ul class="nav navbar-nav redHalf hovernav">
            <li><a href="{% url 'myrecipe:index' %}">Home</a></li>
            <li><a href="{% url 'myrecipe:about' %}">About</a></li>
            <li><a href="{% url 'myrecipe:contact' %}">Contact Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right yellowHalf">
            {% if user.is_authenticated %}
            <li><button id="base-logout-button" data-href="{% url 'logout' %}" type="button" class="btn btn-default navbar-btn"><strong>Logout</strong></button></li>
            {% else %}
            <li><a href="{% url 'myrecipe:login' %}"><button type="button" class="btn btn-default navbar-btn">Sign in</button></a></li>
            {% endif %}
          </ul>
       
        </div>
      </div>
    </nav>
    <!-- END OF NAV BAR -->
    
    {% if user.is_authenticated %}
    <nav class="navbar navbar-default secondnav text-center" role="navigation">
     <div class="container">
       
       <ul class="nav navbar-nav hovernav">
            <li><a href="{% url 'chef:dashboard' %}" id="chefname"><i class="fa fa-user"></i> Chef {{ user.username }}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form" role="search" action="{% url 'myrecipe:search' %}" method="GET">
              <div class="input-group">
                <input type="text" class="form-control" style="font-family:PrintClearly;font-size:20px;" placeholder="search" name="recipeQuery">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
           </form>
          </ul>
      </div>
    </nav>
    {% endif %}
    
     <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div id="alertBox" class="alert alert-danger alert-dismissible fade in listView" role="alert">
            <button type="button" class="close" data-fdismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div id="alertBoxInner"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div id="successBox" class="alert alert-info alert-dismissible fade in listView" role="alert">
            <button type="button" class="close" data-fdismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div id="successBoxInner"></div>
          </div>
        </div>
      </div>
    </div>
 
    
    {% block main %}
    {% endblock %}
    
    <div class="footer">
    <div class="container text-center">
      
      <div class="row">
        <a href="{% url 'myrecipe:index' %}" class="btn btn-default starttodaybutton logofooter">Soupbits</a>
      </div>
      
      <div class="row"> 
        
        {% if user.is_authenticated %}
        <div class="col-md-4">
          <ul class="nav nav-pills nav-stacked list-unstyled">
            <li><a href="{% url 'chef:dashboard' %}">Chef {{ user.username }}</a></li>
            <li><a href="{% url 'chef:dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'chef:chefRecipes' %}">My Recipes</a></li>
            <li><a href="{% url 'chef:chefFavorites' %}">My Favorites</a></li>
          </ul>
        </div>
        
        

        <div class="col-md-4"> 
          <ul class="nav nav-pills nav-stacked list-unstyled">
            <li><a href="{% url 'myrecipe:AllRecipes' %}">Browse</a></li>
            <li><a href="#">Cooking tidbits</a></li>
          </ul>
        </div>
          

        <div class="col-md-4"> 
          <ul class="nav nav-pills nav-stacked list-unstyled">
            <li><a href="{% url 'myrecipe:index' %}">Home</a></li>
            <li><a href="{% url 'myrecipe:about' %}">About</a></li>
            <li><a href="{% url 'myrecipe:contact' %}">Contact</a></li>
          </ul>
        </div>
        
        
        {% else %}
        <div class="col-md-6"> 
          <ul class="nav nav-pills nav-stacked list-unstyled">
            <li><a href="{% url 'myrecipe:AllRecipes' %}">Browse</a></li>
            <li><a href="#">Cooking tidbits</a></li>
          </ul>
        </div>
          

        <div class="col-md-6"> 
          <ul class="nav nav-pills nav-stacked list-unstyled">
            <li><a href="{% url 'myrecipe:index' %}">Home</a></li>
            <li><a href="{% url 'myrecipe:about' %}">About</a></li>
            <li><a href="{% url 'myrecipe:contact' %}">Contact</a></li>
          </ul>
        </div>
        {% endif %}
        
      </div>
    </div>
    </div>
    
    
    <script type="text/javascript" src="{% static 'myrecipe/js/jquery.min.js' %}"></script>
    <script type="application/octet-stream" src="{% static 'myrecipe/js/jquery.min.map' %}"></script>
    <script type="text/javascript" src="{% static 'myrecipe/js/underscore-min.js' %}"></script>
    <script type="application/octet-stream" src="{% static 'myrecipe/js/underscore-min.map' %}"></script>
    
    <script type="text/javascript" src="{% static 'myrecipe/js/_base.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#base-logout-button").click(function() {
          window.location = $(this).data("href");
        });
      });
    </script>
    
    {% block scripts %}
    {% endblock %}
    
  </body>
</html>


