{% extends 'myrecipe/_base.html' %}
{% load staticfiles %}

{% block title %}Add Recipe{% endblock %}

{% block styles %}
<link href="{% static 'myrecipe/css/bootstrap-tokenfield.min.css' %}" rel="stylesheet">
<link href="{% static 'myrecipe/css/singleRecipe.css' %}" rel="stylesheet">
<link href="{% static 'myrecipe/css/addRecipe.css' %}" rel="stylesheet">
{% endblock %}

<!-- <body id="home"> -->
{% block main %}
<div class="container">
   <div class="row">
     <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li><a href="{% url 'chef:dashboard' %}">Dashboard</a></li>
      <li class="active"><a href="{% url 'chef:chefRecipes' %}">My Recipes</a></li>
      <li><a href="{% url 'chef:chefFavorites' %}">My Favorites</a></li>
      {% if ifLikedByAny %}
      <li><a href="{% url 'chef:wholiked' %}">Who Liked</a></li>
      {% endif %}
      
       <li class="exploreTab"><a href="{% url 'myrecipe:AllRecipes' %}">Explore</a></li>
    </ul>
     </div>
     </div>

     <div class="row">
     <div class="col-md-12">
    <ul class="nav nav-pills">
      <li><a href="{% url 'chef:chefRecipes' %}">All Recipes</a></li>
      <li class="active"><a href="#">Add Recipe</a></li>
      <li><a href="{% url 'myrecipe:modify' %}">Modify Recipe</a></li>
    </ul>
     </div>
      </div>
  </div>



   <!-- BEGIN ADD RECIPE -->

<div class="container">
  
  <div class="row">
    <div class="col-md-1"></div>
    
    <div class="col-md-10 col-sm-12 col xs-12">
      <!-- stonewall -->
      
       <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      
      <ul class="list-unstyled">
        <li><div><h2>Add a Recipe</h2></div></li>
      </ul>
      
    </div>
  </div> <!-- /.row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
        </div>
      </div>
      
    </div>
  </div> 
      
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="well subheading-top">
        <ul class="list-unstyled list-inline subheading-group">
          <li class="subheading"><h3>Ingredients</h3></li>
          <li><span id="addIn"><i class="fa fa-plus-square"></i></span></li>
        </ul>
      </div>
    </div>
  </div> <!-- /.row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <ul id="ingredients" class="list-unstyled sublist">
          <li><input type="text" id="firstIn" class="form-control ingredientsField" name="ingredients" required=""></li>
        </ul>
    </div>
  </div> <!-- /.row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="well subheading-top">
        <ul class="list-unstyled list-inline subheading-group">
          <li class="subheading"><h3>Method</h3></li>
          <li><span id="addMd"><i class="fa fa-plus-square"></i></span></li>
        </ul>
      </div>
    </div>
  </div> <!-- /.row -->
      
      
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <ul id="method" class="list-unstyled sublist">
          <li><input type="text" id="firstMd" class="form-control methodField" name="method" required></li>
          <li><input type="text" id="secondMd" class="form-control methodField" name="method" required></li>
        </ul>
    </div>
  </div> <!-- /.row -->

      
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="well subheading-top">
        <ul class="list-unstyled list-inline subheading-group">
          <li class="subheading"><h3>Other Details</h3></li>
          <li class="subheading2">
            <ul class="list-unstyled list-inline">
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div> <!-- /.row --> 

       
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 notes subheading-top tagsDiv">
      
      <div class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="prepTime">Prep Time:</label>
          <input type="number" class="form-control" id="prepTime" name="prepTime" placeholder="Prep Time" min="0" required>
        </div>
        <div class="form-group">
          <label class="sr-only" for="cookTime">Cook Time:</label>
          <input type="number" class="form-control" id="cookTime" name="cookTime" placeholder="Cook Time" min="0" required>
        </div>
        <div class="form-group">
          <label class="sr-only" for="yieldAmt">Yield Amount:</label>
          <input type="number" class="form-control" id="yieldAmt" name="yieldAmt" placeholder="Yield Amount" min="0" required>
        </div>
        <div class="form-group">
          <label class="sr-only" for="notes">Notes:</label>
          <input type="text" class="form-control" id="notes" name="notes" placeholder="Notes">
        </div>
      </div>
      
    </div>
  </div> <!-- /.row -->
  
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 tagsDiv">
      <h3>Tags</h3>
      <input id="tags" name="tags" type="text" placeholder=" separate tags by commas"
             value="{% for t in object.tags.names %}{% if forloop.last %}{{ t }}{% else %}{{ t }},{% endif %}{% endfor %}">
    </div>
  </div> <!-- /.row -->
  
      
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 bottomTags submitButton">
      <input type="submit" id="recipeAddSubmiButton" class="btn btn-lg btn-primary" value="Add Recipe">
    </div>
  </div> <!-- /.row -->
  
      
      <!-- stonewall -->
    </div>
    
    <div class="col-md-1"></div>
  </div>
  
  
 
  
</div> <!-- /.container -->


   <!-- END ADD RECIPE -->




















 

{% endblock %}
  
  
{% block scripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js" type="text/javascript"></script>
  <script src="{% static 'myrecipe/js/bootstrap-tokenfield.min.js' %}" type="text/javascript"></script>
  
  <script type="text/javascript">
    function callingAjax(ingJSON, mthJSON){
      $.ajax({
        url: "/new/",
        type: 'POST',
        dataType: 'json',
        headers: {
          'X-CSRFToken': $.cookie('csrftoken')
        },
        data: {
          'title'       :$('#title').val(),
          'yieldAmt'    :$('#yieldAmt').val(),
          //'ingredients' :$('#ingredients').val(),
          //'method'      :$('#method').val(),
          'ingredients' : ingJSON,
          'method'      : mthJSON,
          'prepTime'    :$('#prepTime').val(),
          'cookTime'    :$('#cookTime').val(),
          'notes'       :$('#notes').val(),
          'tags'        :$('#tags').val()
        },
        success: function(data, textstatus, jqXHR){
          console.log("success!");
          console.log(data);
          console.log(textstatus);
          console.log(data.responseText);
          window.location = data['redirectUrl'];
        },
        error: function(data, textstatus, jqXHR){
          console.log("error!");
          console.log(data);
          console.log(textstatus);
          
          console.log(data.responseText);
          window.wtf = data;
          errorIterate(data);
        }
      });
    }
    
    function popu(){
      $('#title').val('Oatmeal Cookies'),
      $('#yieldAmt').val(12),
      //$('#ingredients').val(JSON.stringify({1:'oats', 2:'pb'})),
      //$('#method').val(JSON.stringify({1:'mix', 2:'bake'})),
      $('#prepTime').val(15),
      $('#cookTime').val(20),
      $('#notes').val('Add chocolate chips'),
      $('#tags').val('healthy, cookies, oats')
    }
    
    function errorIterate(data){
      _.each(data.responseJSON, function(value, key){
        // value is going to be an array
        
          // iterate through value list of responseJSON object
          _.each(value, function(element, index){
            $('<p>', {
              text: element
            }).appendTo('#' + key + "-error");
          });
      });
    }
    
    function removeTheLi(thing) {
      console.log("removing...");
      $(thing).closest("li").remove();
    }
    
    // INGREDIENTS AND METHOD FUNCTIONS
    function addField(id){
      $('#'+id).append("<li><input type='text' class='form-control " + id + "Field' required><button type='button' class='close fieldCloseButton' aria-hidden='true'>&times;</button></li>");
      
      $("#" + id + " .fieldCloseButton").last().bind("click", function() {
        console.log("removing...");
        $(this).parent("li").remove();
      });
    }
    
  
    function deleteField(id){
      $(id).on('click', '.delete', function(e){
        $(this).parent('div').remove();
      });
    }
 
    function gatherData(id){
      var JSONobject = {};
      classname = id + 'Field';
      $('input.' + classname).each(function(index){
        JSONobject[index+1] = $(this).val();
        console.log(JSONobject[index+1]);
      });
      return JSONobject;
    }
    
    
    var ingredientsJSON;
    var methodsJSON;
    // END OF INGREDIENTS AND METHOD FUNCTIONS
    
    $(document).ready(function(){
      
      //popu();
      
      // NEW STUFF
      $('#addIn').click(function(e){
        addField('ingredients');
      });
    
      $('#addMd').click(function(e){
        addField('method');
      });
    
      //deleteField('#ingredients');
      //deleteField('#methods');
      
      /*$(".fieldCloseButton").click(function() {
        console.log("Hello");
        $(this).closest("li").remove();
        //$(b).closest("li").remove()
      });*/
      
      
      $('#tags').tokenfield({
        limit: 12,
        //tokens: ['soupbits']
      });
    
      
      $("#recipeAddSubmiButton").click(function() {
        ingredientsJSON = JSON.stringify(gatherData('ingredients'));
        methodsJSON = JSON.stringify(gatherData('method'));
        callingAjax(ingredientsJSON, methodsJSON);
      });
      
      $("#recipeform").submit(function(event){
        event.preventDefault();
        
        
        ingredientsJSON = gatherData('ingredients');
        methodsJSON = gatherData('methods');
      
        
        ingredientsJSON = JSON.stringify(ingredientsJSON);
        methodsJSON = JSON.stringify(methodsJSON);
        
        console.log(ingredientsJSON);
        console.log(methodsJSON);
      
        
        //$('#result').text(JSON.stringify(ingredientsJSON));
        //$('#result').append(JSON.stringify(methodsJSON));
        // END OF NEW STUFF
        
        
        callingAjax();
       
      })
      
      
    });
  </script>

  <script src="{% static 'myrecipe/js/addRecipe.js' %}" type="text/javascript"></script>
{% endblock %}
  
<!-- </body>
</html> -->