<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Delete Recipe</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
  
<body>
  
  <div id="confirmationLink">
    <form action="." method="post">
      {% csrf_token %}
      Are you sure you want to delete {{ object.title }}?
      <input type="submit" value="Yes">
    </form>
    <a href="{% url 'myrecipe:singleRecipe' object.slug %}"><input type="button" value="No">
  </div>
    
</body>

</html>