<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Edit Recipe</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <style>
    .fromtemplate {
      display: none;
    }
    
  </style>
</head>

<body id="home">
  
  <h2>Editing {{ object.title }}</h2>
  <p>Added on {{ object.pub_date | date:"l M d, Y - h:i:s A" }} by {{ object.author }} </p>
  
  <form id="recipeform" action="{% url 'myrecipe:newRecipeData' %}" method="POST" novalidate="novalidate">
  {% csrf_token %}
    
  <input type="hidden" data-edit="True" name="edited" id="edited">
  <input type="hidden" data-slug="{{ object.slug }}" name="sslug" id="sslug">
    
  <div id="title-error"></div>
  <p  class="formtitles">Title</p> <input id="title" type="text" value="{{ object.title }}" name="title">
  
  <div id="ingredients-error"></div>
  <p class="formtitles">Ingredients</p>
  <div id="ingredients">
    <input type="button" id="addIn" value="+"> <br> 
    {% for key, value in ingredList %}
      <div><input type="text" class="ingredientsField" value="{{ value }}" name="ingredients"><button class='delete fromtemplate'>remove</button></div>
    {% endfor %}
  </div>
  
  <div id="method-error"></div>
  <p class="formtitles">Method</p> 
  <div id="methods">
    <input type="button" id="addMd" value="+"> <br> 
    {% for key, value in methodList %}
      <div><input type="text" class="methodsField" value="{{ value }}" name="method"><button class='delete'>remove</button></div>
    {% endfor %}
  </div>
  
  <div id="yieldAmt-error"></div>
  <p  class="formtitles">yields</p> <input id="yieldAmt" type="number" min="1" value="{{ object.yieldAmt }}" name="yieldAmt">
  
  <div id="prepTime-error"></div>
    <p  class="formtitles">Prep Time</p> <input id="prepTime" type="number" min="1" value="{{ object.prepTime }}" name="prepTime">
    
    <div id="cookTime-error"></div>
    <p  class="formtitles">Cook Time</p> <input id="cookTime" type="number" value="{{ object.cookTime }}" name="cookTime">
    
    <div id="notes-error"></div>
    <p  class="formtitles">Notes</p> <input id="notes" type="text" value="{{ object.notes }}" name="notes">
    
    <div id="tags-error"></div>
    <p  class="formtitles">tags</p> 
    
    <input id="tags" type="text" value="{% for tag in object.tags.all %}{% if forloop.last %}{{ tag }}{% else %}{{ tag }}, {% endif %}{% endfor %}", name="tags">
    
    <input type="submit" value="submit">
    </form>
  
  <!--
  <ul>
    <h3>Tags</h3>
    {% for tag in object.tags.all %}
    <li>
      {{ tag.name }}
    </li>
    {% endfor %}
  </ul>
-->
 
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js" type="text/javascript"></script>
  
  <script text="text/javascript">
    
    function callingAjax(){
      $.ajax({
        url: "/new/",
        type: 'POST',
        dataType: 'json',
        headers: {
          'X-CSRFToken': $.cookie('csrftoken')
        },
        data: {
          'title'       :$('#title').val(),
          'yieldAmt'    :$('#yieldAmt').val(),
          //'ingredients' :$('#ingredients').val(),
          //'method'      :$('#method').val(),
          'ingredients' : ingredientsJSON,
          'method'      : methodsJSON,
          'prepTime'    :$('#prepTime').val(),
          'cookTime'    :$('#cookTime').val(),
          'notes'       :$('#notes').val(),
          'tags'        :$('#tags').val(),
          'edited'      :$('#edited').data('edit'),
          "slug"        :$("#sslug").data("slug"),

        },
        success: function(data, textstatus, jqXHR){
          console.log("success!");
          console.log(data);
          console.log(textstatus);
          console.log(data.responseText);
          window.location = data['redirectUrl'];
        },
        error: function(data, textstatus, jqXHR){
          console.log("error!");
          console.log(data);
          console.log(textstatus);
          
          console.log(data.responseText);
          window.wtf = data;
          errorIterate(data);
        }
      });
    }
    
    function errorIterate(data){
      _.each(data.responseJSON, function(value, key){
        // value is going to be an array
        
          // iterate through value list of responseJSON object
          _.each(value, function(element, index){
            $('<p>', {
              text: element
            }).appendTo('#' + key + "-error");
          });
      });
    }
    
    function delButtons(f){
      $('#ingredients .delete')[0].remove();
      
      for(var i = 0; i<2; i++){
        $('#methods .delete')[0].remove();
      }
      if(f && typeof(f) == 'function')
        f();
    }
    
    function addField(id){
      $('#'+id).append("<div><input type='text' class='" + id + "Field' required><button class='delete'>remove</button></div>");
    }
  
    function deleteField(id){
      $(id).on('click', '.delete', function(e){
        $(this).parent('div').remove();
      });
    }
    
    function gatherData(id){
      var JSONobject = {};
      classname = id + 'Field';
      $('input.' + classname).each(function(index){
        JSONobject[index+1] = $(this).val();
        console.log(JSONobject[index+1]);
      });
      return JSONobject;
    }
    
    var ingredientsJSON;
    var methodsJSON;
    
    ////////////////////////////////////////////
    $(document).ready(function(){
      delButtons(function(){
        $('.delete').show();
      });
      
      $('#addIn').click(function(e){
        addField('ingredients');
      });
    
      $('#addMd').click(function(e){
        addField('methods');
      });
      
      deleteField('#ingredients');
      deleteField('#methods');
      
    });
    
    
    // Listen to recipe form submit event.
    $(document).ready(function() {
      
      $("#recipeform").submit(function(e) {
        e.preventDefault();
        
        ingredientsJSON = gatherData('ingredients');
        methodsJSON = gatherData('methods');
      
        
        ingredientsJSON = JSON.stringify(ingredientsJSON);
        methodsJSON = JSON.stringify(methodsJSON);
        
        callingAjax();
      });
      
    });
  </script>

</body>
</html>