{% extends 'myrecipe/_base.html' %}
{% load staticfiles %}

{% block title %}No Results{% endblock %}

{% block styles %}
{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center">
        <h1 class="error404"><i class="fa fa-quote-left"></i> Ooops, nothing here to see <i class="fa fa-quote-right"></i></h1>
        <p><a class="btn btn-primary btn-lg starttodaybutton" href="#" role="button">Learn more</a></p>
</div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}