{% extends 'myrecipe/_base.html' %}
{% load staticfiles %}

{% block title %}Modify Recipe{% endblock %}

{% block styles %}
{% endblock %}


{% block main %}
<!-- <body id="home"> -->
  
 
  <div class="container">
    <div class="row">
      <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li><a href="{% url 'chef:dashboard' %}">Dashboard</a></li>
      <li class="active"><a href="{% url 'chef:chefRecipes' %}">My Recipes</a></li>
      <li><a href="{% url 'chef:chefFavorites' %}">My Favorites</a></li>
      {% if ifLikedByAny %}
      <li><a href="{% url 'chef:wholiked' %}">Who Liked</a></li>
      {% endif %}
      
       <li class="exploreTab"><a href="{% url 'myrecipe:AllRecipes' %}">Explore</a></li>
    </ul>
        </div>
    </div>


    <div class="row">
    <div class="col-md-12">
    <ul class="nav nav-pills">
      <li><a href="#">All Recipes</a></li>
      <li><a href="{% url 'myrecipe:addRecipe' %}">Add Recipe</a></li>
      <li class="active"><a href="#">Modify Recipe</a></li>
    </ul>
    </div>
  </div>
   </div>
  
  <div class="container">
      
      <div class="row">
        <div class="col-md-12">
      <div id="searchResults">
        {% for object in object_list %}
      <p><a href="{% url 'myrecipe:singleRecipe' object.slug %}">{{ object.title }}</a></p>
        <input type="button" value="edit"> <input type="button" value="delete">
        {% endfor %}
      </div>
          </div>
      </div>

  
 
  <div class="row">
    <div class="col-md-12">
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="{% url 'chef:chefRecipes' %}?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span>
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
      <a href="{% url 'chef:chefRecipes' %}?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  {% endif %}
    </div>
    </div>
    
    
  </div>
  
  {% endblock %}
  
  {% block scripts %}
  {% endblock %}