{% extends 'myrecipe/_base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block styles %}
{% endblock %}

{% block main %}

{% if user.is_authenticated %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <ul class="nav nav-tabs">
        <li><a href="{% url 'chef:dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'chef:chefRecipes' %}">My Recipes</a></li>
        <li><a href="{% url 'chef:chefFavorites' %}">My Favorites</a></li>
        {% if ifLikedByAny %}
        <li><a href="{% url 'chef:wholiked' %}">Who Liked</a></li>
        {% endif %}
        <li class="exploreTab active"><a href="{% url 'myrecipe:AllRecipes' %}">Explore</a></li>
      </ul>
      
    </div>
  </div>
</div>
{% endif %}


  
<div class="container">
  <div class="well well-lg">
    
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body text-center subheading">
            <i class="fa fa-quote-left"></i> {{ request.GET.recipeQuery }} <i class="fa fa-quote-right"></i>
          </div>
        </div>
       </div>
    </div>
    
    <div class="row">
      {% for recipe in object_list %}
      <!-- START COLUMN -->
      <div class="col-xs-6 col-md-3">

        <!-- START THUMBNAIL -->
        <div class="thumbnail">

          <!-- START CAPTOPN -->
          <div class="caption greeting">
            <a href="{% url 'myrecipe:singleRecipe' recipe.slug %}"><h3>{{ recipe.shortenTitle }}</h3>
            <a href="{% url 'chef:chef' recipe.author %}"><p class="listViewAuthor">by {{recipe.author}}</p></a>
            
            
            <p class="listView">
              <a href="{% url 'myrecipe:singleRecipe' recipe.slug %}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-eye fa-stack-1x fa-inverse listViewIcon hoverstyle"></i>
                </span>
              </a>
              
              <a>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse listViewIcon hoverstyle"></i>
                </span>
              </a>
             </p>
            
            <!-- START ROW -->
            
                <span class="badge listView">
                  {{ recipe.pub_date|date:"SHORT_DATE_FORMAT" }}
                </span>
           
                <span class="badge listView">
                  <i class="fa fa-thumbs-up "></i>
                  {{ recipe.likes.count }}
                </span>
            
               <span class="badge listView">
                  <i class="fa fa-clock-o "></i>
                  {{ recipe.totalTime }} min.
                </span>
                
            
            <!-- END ROW -->
            
          </div>
          <!-- END CAPTOPN -->

          <!-- START FOOTER -->
          <div class="panel-footer">
            
            <i class="fa fa-tag listViewIcon"></i>
            
            {% for tag in recipe.threeTags %}
              <a href="{% url 'myrecipe:search' %}?recipeQuery={{ tag }}">{{ tag }}</a>,
            {% endfor %} 
            
          </div>
          <!-- END FOOTER -->

        </div>
        <!-- END THUMBNAIL -->

      </div>
      <!-- END COLUMN -->
      {% endfor %}
  
        
    </div> <!-- END ROW -->
  </div> <!-- END WELL -->
</div> <!-- END CONTAINER -->
{% endblock %} 
        
{% block scripts %}
{% endblock %}
  
  
