<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Search Results</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
  
<body>
  
  <!--
    <ul>
      {% for object in object_list %}
      <li> <a href = "{% url 'myrecipe:singleRecipe' object.slug %}">{{ object.title }}</a> </li>
      {% endfor %}
    </ul>
   -->
  
  
  {% for recipe in object_list %}
      <div style="border: 1px solid black;">
      <a href="{% url 'myrecipe:singleRecipe' recipe.slug %}">{{ recipe.title }}<a>
      <p>{{ recipe.pub_date|date:"SHORT_DATE_FORMAT" }}</p>
      <a href="{% url 'chef:chef' usrname=recipe.author.username %}">{{ recipe.author }}</a>
      </div>
    {% endfor %}
  
 
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="{% url 'myrecipe:search' %}?page={{ page_obj.previous_page_number }}&recipeQuery={{ recipeQuery }}">Previous</a>
    {% endif %}
    <span>
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
      <a href="{% url 'myrecipe:search' %}?page={{ page_obj.next_page_number }}&recipeQuery={{ recipeQuery }}">Next</a>
    {% endif %}
  {% endif %}
  
  
</body>
  
</html>