{% extends 'myrecipe/_base.html' %}
{% load staticfiles %}

{% block title %}{{ object.title }}{% endblock %}
{% block styles %}
<link href="{% static 'myrecipe/css/bootstrap-tokenfield.min.css' %}" rel="stylesheet">
<link href="{% static 'myrecipe/css/singleRecipe.css' %}" rel="stylesheet">
<style>
  .singleBadge {
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
  }
</style>
{% endblock %}


{% block main %}

<input type="hidden" id="rslug" data-rslug="{{ recipe.slug }}">
<input type="hidden" id="likeurl" data-likeurl="{% url 'myrecipe:like' %}">
{% csrf_token %}

{% if user.is_authenticated %}
{% ifequal user object.author %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="{% url 'chef:dashboard' %}">Dashboard</a></li>
        <li class="active"><a href="{% url 'chef:chefRecipes' %}">My Recipes</a></li>
        <li><a href="{% url 'chef:chefFavorites' %}">My Favorites</a></li>
        {% if ifLikedByAny %}
        <li><a href="{% url 'chef:wholiked' %}">Who Liked</a></li>
        {% endif %}
        <li class="exploreTab"><a href="{% url 'myrecipe:AllRecipes' %}">Explore</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills subpills">
        <li class="active"><a href="#">All Recipes</a></li>
        <li><a href="{% url 'myrecipe:addRecipe' %}">Add Recipe</a></li>
        <li><a href="{% url 'myrecipe:modify' %}">Modify Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="{% url 'chef:dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'chef:chefRecipes' %}">My Recipes</a></li>
        <li><a href="{% url 'chef:chefFavorites' %}">My Favorites</a></li>
        {% if ifLikedByAny %}
        <li><a href="{% url 'chef:wholiked' %}">Who Liked</a></li>
        {% endif %}
        <li class="exploreTab active"><a href="{% url 'myrecipe:AllRecipes' %}">Explore</a></li>
      </ul>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li><a href="#">All Recipes</a></li>
        <li><a href="{% url 'myrecipe:addRecipe' %}">Add Recipe</a></li>
        <li><a href="{% url 'myrecipe:modify' %}">Modify Recipe</a></li>
      </ul>
    </div>
  </div>
-->
  
</div>
{% endifequal %}
{% endif %}


<!-- Begin Single Recipe -->

<div class="container">
  
  <div class="row">
    <div class="col-md-1"></div>
    
    <div class="col-md-10 col-sm-12 col xs-12">
      <!-- stonewall -->
      
       <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      
      <ul class="list-unstyled">
        <li><div><h2 class="addrecipetitle">{{ object.title }}&nbsp;&nbsp;<span id="recipeLikeButton" class="badge singleBadge"><i class="fa fa-thumbs-up"></i></span></h2></div></li>
        <li><div><p>added by: <strong><a href="{% url 'chef:chef' usrname=object.author.username %}">{{ object.author }}</a></strong></p></div></li>
      </ul>
      
    </div>
  </div> <!-- /.row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="well subheading-top">
        <ul class="list-unstyled list-inline subheading-group">
          <li class="subheading"><h3>Ingredients</h3></li>
          <li class="subheading2"><h3><small>Servings: <strong>{{ object.yieldAmt }}</strong></small></h3></li>
        </ul>
      </div>
    </div>
  </div> <!-- /.row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <ul class="list-unstyled sublist">
          {% for key, value in ingredList %}
          <li><p><em class="text-muted">{{ key }}.</em>&nbsp;&nbsp;&nbsp;<span class="singleIngMethod">{{ value }}</span></p></li>
          {% endfor %}
        </ul>
    </div>
  </div> <!-- /.row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="well subheading-top">
        <ul class="list-unstyled list-inline subheading-group">
          <li class="subheading"><h3>Method</h3></li>
          <li class="subheading2">
            <ul class="list-unstyled list-inline">
              <li><h3><small>Prep time: <strong>{{ object.prepTime }} min.</strong></small></h3></li>
              <li><h3><small>Cook time:  <strong>{{ object.cookTime }} min.</strong></small></h3></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div> <!-- /.row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <ul class="list-unstyled sublist">
          {% for key, value in methodList %}
          <li><p><em class="text-muted">{{ key }}.</em>&nbsp;&nbsp;&nbsp;<span class="singleIngMethod">{{ value }}</span></p></li>
          {% endfor %}
        </ul>
    </div>
  </div> <!-- /.row -->
  
  
  {% if object.notes %}
  <div class="row text-center">
    <div class="col-md-12 col-sm-12 col-xs-12 notes subheading-top tagsDiv">
      <i class="fa fa-quote-left"></i>&nbsp;<span class="text-muted singleNotes">{{ object.notes }}</span>&nbsp;<i class="fa fa-quote-right"></i>
    </div>
  </div> <!-- /.row -->
  {% endif %}
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 tagsDiv bottomTags">
      <h3 class="subheading">Tags</h3>
      <input id="tags" type="text" value="{% for t in object.tags.names %}{% if forloop.last %}{{ t }}{% else %}{{ t }},{% endif %}{% endfor %}">
    </div>
  </div> <!-- /.row -->
      
      <!-- stonewall -->
    </div>
    
    <div class="col-md-1"></div>
  </div>
    
  
 
  
</div> <!-- /.container -->


{% endblock %}
  

{% block scripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js" type="text/javascript"></script>
  <script src="{%  static 'myrecipe/js/bootstrap-tokenfield.min.js' %}" type="text/javascript"></script>
  
  <script type="text/javascript">
    function ajaxLike(){
      $('#like').click(function(){
        $.ajax({
          type:     "POST",
          url:      "/like/",
          data:     {'slug': $('#like').attr('data-slug')},
          dataType: 'json',
          headers: {
          'X-CSRFToken': $.cookie('csrftoken')
          },
          success: function(data, textstatus, jqXHR){
          console.log("success!");
          console.log(data);
          console.log(textstatus);
          console.log(data.responseText);
          //window.location = data['redirectUrl'];
          console.log(data.msg);
          
          if(data.liked){
            $('#numLikes').val(parseInt($('#numLikes').val()) + 1);
            $('#like').val('liked');
            $('#like').css('border-color', 'green');
          }
          else if(!data.liked)
            //$('#like').css('border, 1px solid green');
            if ($('#numLikes').val() > 0)
              $('#numLikes').val(parseInt($('#numLikes').val()) - 1);
          },
          error: function(data, textstatus, jqXHR){
          console.log("error!");
          console.log(data);
          console.log(textstatus);
          console.log(data.responseText);
          window.sdata = data;
          
          console.log(data.msg);
        }
        });
      });
    }
    
    $(document).ready(function(){
      
       $('#tags').tokenfield({});
       $('#tags').tokenfield('readonly');
    /*
      $('.token').click(function(){
        var s = $($(this)).find('.token-label').text();
        window.location = '/search/results/?recipeQuery=' + s; 
      });
      */
      
      
      //ajaxLike();
      
    });
    
    $(document).ready(function() {
      
      $("#recipeLikeButton").click(function() {
        
        $.ajax({
          url: $("#likeurl").data("likeurl"),
          headers: {
            "X-CSRFToken": $.cookie("csrftoken")
          },
          type: "POST", 
          dataType: "json",
          data: {
            "slug": $("#rslug").data("rslug")
          },
          success: function(data, status) {
            utils.comboSuccess(data);
          },
          error: function(data, status) {
            utils.comboAlert(data);
          },
        });
        
      });
      
    });
    
    //likeurl
    //rslug
  </script>
{% endblock %}
